
body {
	font-family: Arial, Helvetica, sans-serif;
        background-color: #E0E9F0;
	
}

a {

	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 12px;
	
	color: #5F1337;
	
	text-align:left;    
	
	background-color: #E0E9F0;

}

a:hover {

      	  font-family: Arial, Helvetica, sans-serif;

            font-size: 12px;        

            color: #000066;
			
			text-align:left;  
			
			font-weight: bold;
  
           
}



td {
	font-family: Arial, Helvetica, sans-serif;
	background:#E0E9F0;
}

.td2 {
	font-family: Arial, Helvetica, sans-serif;
	background: #0177BF;
}

.td3 {
	font-family: Arial, Helvetica, sans-serif;
	background: #666666;
}

.td4 {
	font-family: Arial, Helvetica, sans-serif;
	background: #00689C;
}

.td5 {
	font-family: Arial, Helvetica, sans-serif;
	background: #72AAC7;
}


th {
	font-family: Arial, Helvetica, sans-serif;
	background:#E0E9F0;
}

.sombrast
	{
	font-family: Arial, Helvetica, sans-serif;
	background: #0281BD;
	
	}

.letrast
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #0281BD;
	text-align:center;
	}
.letrast2
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #0177BF;
	text-align:center;
	}	
	

.Titulo
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006699;
	font-weight: bold;
	text-align:center;

	}

.subtitulos
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	font-weight: bold;

	}
	
.subtitulosOpc
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	

	}	
	
.subtitulosTabla
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	

	}		
	
.subtitulosbd
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
	
	}	
	
.subtitulosMayus
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #006699;
	font-weight: bold;

	}	
	
.subtitulosPrinc
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006699;
	font-weight: bold;
	text-align:center;    

	}
	
	.letrasMedianas
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003399;
	font-weight: bold;
	text-align:center;    

	}
	
	.letrasPequenias
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	font-weight: bold;
	text-align:center;    

	}				
				

.fondo{
background:#E0E9F0;
}

.enlaces {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5F1337;
	text-align:left;    
	background-color: #E0E9F0;
}

.enlaces3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align:left;    
	background-color:#0177BF;
}

.enlaces2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align:left;    
	background-color:#00689C;
}



table.tabla1 {
	BORDER-RIGHT:  #0177BF 1px solid; 
	BORDER-TOP:  #0177BF 1px solid;	
	BORDER-LEFT:  #0177BF 1px solid; 
	BORDER-BOTTOM: 1px solid  #0177BF; 
	BORDER-COLLAPSE: collapse;	
	border-spacing: 0
}

table.tabla1 td {
	BORDER-RIGHT: #0177BF 1px solid; 	
	BORDER-TOP: #0177BF 1px solid; 	
	BORDER-LEFT: #0177BF 1px solid; 		
	BORDER-BOTTOM: 1px solid #0177BF;
	height:20px;
	PADDING-LEFT: 0.3em; 
}
table.tabla1 th {
	background:url(imagenes/table_header1.jpg) repeat-x bottom #0177BF;
	height:20px;
	padding:5px;
	border-top:1px solid #0177BF;
	border-right:1px solid #0177BF;
	border-left:1px solid #0177BF;
	border-bottom:1px solid #0177BF;	
}

table.tabla2 {
	BORDER-RIGHT:  #0177BF 1px solid; 
	BORDER-TOP:  #0177BF 1px solid;	
	BORDER-LEFT:  #0177BF 1px solid; 
	BORDER-BOTTOM: 1px solid  #0177BF; 
	BORDER-COLLAPSE: collapse;	
	border-spacing: 0
}


.icono{
     text-decoration:none;
    }







#usuario{
	font-size:10px;
	color:#15234a;
	text-align:right;
	vertical-align:bottom;
        font-family : Arial, Helvetica, sans-serif;
    
	}

img.icono{
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
	border:none;

}

a.Vinculo{
	font-size:12px;
	font-family : Arial, Helvetica, sans-serif;
	color:#00689C;
	text-decoration:none;
	}

  a.Vinculo:hover{
        font-size:12px;
	font-family : Arial, Helvetica, sans-serif;
	color:#000000;
     
}
a.Inicio{
	font-size:12px;
	font-family : Arial, Helvetica, sans-serif;
	color:#ffffff;
	padding-right:15px;
	font-weight:none;
	border-right:1px solid #15234a;
	margin-right:15px;
	text-decoration:none;
        background: #00689C;
	}

a.Inicio:hover{
        font-size:12px;
	font-family : Arial, Helvetica, sans-serif;
	color:#FADA7D;
        background: #00689C;
}

a.InicioM{
	font-size:12px;
	font-family : Arial, Helvetica, sans-serif ;
	color:#15234a;
	font-weight:bold;
	text-decoration:none;
        background: #00689C;

	}

a.InicioM:hover{
	color:#CE0A0A;
        background: #00689C;
}


a.LinkLetra{
	color:#00448e;
	font-size:11px;
        background: #00689C;
}

a.LinkLetra:hover{
	color:#009ccf;
        background: #00689C;
}

a.LinkLetraP{
	font-weight:normal;
	font-size:9px;
	color:#666;
        background: #00689C;
}

a.LinkLetraP:hover{
	color:#0098d4;
        background: #00689C;
}

#fecha{
	font-size:12px;
	font-family : Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-weight:none; 
	text-decoration:none;
        background: #00689C; 
        }

